$color-background:          #002235;
$color-background-env:      #002a42;
$color-text:                #7cdbf3;
$color-teal:                #7dbdc3;
$color-blue:                #00b9e4;
$color-blue-dark:           #007d9c;
$color-teal-dark:           #005c66;
$color-green:               #92d400;
$color-green-dark:          #2d7623;
$color-yellow:              #f0ab00;
$color-yellow-dark:         #b58100;
$color-orange:              #f6aa00;
$color-orange-dark:         #ec7a08;
$color-red:                 #ce0000;
$color-red-dark:            #8b0000;
$color-violet:              #a18fff;
$color-violet-dark:         #582fc0;
$font-weight-light:         300;
$font-weight-normal:        400;
$font-weight-bold:          600;
$font-weight-extra-bold:    800;
//$font-size-base:            12px;
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);


