.app {
  height: 100%;
  width: 100%;

  .connection-status {
    text-align: right;
    font-size: 1em;

    position: fixed;
    top: 0.5em;
    right: 0.5em;
  }

  .main {
    height: 100%;
    display: flex;
  }
}

.app.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 4em;
  }
  h3 {
    font-size: 2em;
  }
}

