@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800);
@import "./vars";

html {
  height: 100%;
  font-size: 1em;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media only screen and (max-width : 900px) {
  html {
    font-size: 8px;
  }
}

@media only screen  and (min-width : 900px) and (max-width : 1200px) {
  html {
    font-size: 10px;
  }
}
@media only screen  and (min-width : 1200px) and (max-width : 1440px) {
  html {
    font-size: 12px;
  }
}

@media only screen  and (min-width : 1440px) and (max-width : 1620px) {
  html {
    font-size: 14px;
  }
}

@media only screen  and (min-width : 1620px) {
  html {
    font-size: 16px;
  }
}

body {
  background-position: top center;
  background-color: $color-background;
  color: $color-text;
  font-family: 'Open Sans', sans-serif;
  font-weight: $font-weight-normal;
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}
