.motions {
  width: 31%;
  display: grid;
  padding: 2%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 33%);
  grid-column-gap: 2em;
  grid-row-gap: 2%;


  .card {
    color: #01B9B1;
    background-color: rgba(0,0,0,0.2);
    border-radius: 0.5em;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;

    background-repeat:no-repeat;
    background-position: center center;
    background-size: 250%;

    &.shake {
      background-image: url("../assets/img/icon-shake.svg");
    }
    &.circle {
      background-image: url("../assets/img/icon-circle.svg");
    }
    &.x {
      background-image: url("../assets/img/icon-x.svg");
    }
    &.roll {
      background-image: url("../assets/img/icon-roll.svg");
    }
    &.fever {
      background-image: url("../assets/img/icon-disco.svg");
    }
    &.floss {
      background-image: url("../assets/img/icon-floss.svg");
    }
    &.unknown {
      justify-content: center;
      span {
        font-size: 5em;
      }
    }
  }
}
