@import "../vars";

.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 1.6em;
  .stat-number {
    font-size: 1.2em;
    font-weight: $font-weight-bold;
  }
}
