@import "../vars";

.leaderboard {
  padding-top: 1%;
  padding-left: 1%;
  height: 98%;
  width: 64%;
  font-size: 2em;
  font-weight: 300;
  display: flex;
  flex-direction: column;

  small, sup {
    font-size: 0.4em;
    font-weight: 300;
  }

  .player {
    height: 9.4%;
    margin: 0.4%;
    border-radius: 4px;
    background: rgba(0,0,0,.2);

    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      padding-left: 0.3em;
      padding-right: 0.3em;
    }

    .position {
      display: flex;
      flex-direction: column;
      justify-content: center;

      height: 100%;
      box-shadow: 0.2em 0 0.2em -0.05em rgba(0,0,0,.3);
      text-align: center;
      font-size: 1.6em;
      font-weight: $font-weight-extra-bold;
      min-width: 2em;
    }

    .username, .points {
      flex: 2;
    }

    .points {
      flex: 1;
    }

    .username {
      font-weight: $font-weight-bold;
      padding-left: 1em;
    }

    .achievement {
      color: rgba(0,0,0,.3);
    }

    .achievement.success {
      color: #E9DE39;
    }
  }
}
