@import "../vars";

.leaderboard {
  padding-left: 5%;
  height: 100%;
  font-weight: 300;
  display: flex;
  flex-direction: column;

  .player {
    font-size: 1.5em;
    height: 9.3%;
    padding-right: 1.75%;
    margin-bottom: 0.7%;
    border-radius: 0.4em;
    background-color: $color-background-env;
    box-shadow: 0.1em 0.1em 0.05em $color-box-shadow;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .medal {
      height: 100%;
      width: 1.75%;
      border-radius: 0.4em 0 0 0.4em;

      &.medal-1 {
        background-color: $color-gold;
      }
      &.medal-2 {
        background-color: $color-silver;
      }
      &.medal-3 {
        background-color: $color-bronze;
      }

    }

    .position {
      display: flex;
      flex-direction: column;
      justify-content: center;

      height: 100%;
      font-size: 1.5em;
      text-align: center;
      font-weight: $font-weight-bold;
      min-width: 2em;

      .place-number {
        //font-weight: $font-weight-extra-bold;
      }
      small, sup {
        font-size: 0.5em;
        //font-weight: 300;
      }

    }

    .username, .points {
      flex: 1;
    }

    .username {
      font-weight: $font-weight-normal;
      padding-left: 1em;
    }

    .points {
      flex: 1;
      font-size: 1.5em;
      font-weight: $font-weight-bold;
    }

    .achievement {
      display: flex;
      justify-content: center;
      color: $color-background;
      font-size: 2em;
      line-height: 2em;
    }

    .achievement.success {
      color: $color-gold;
    }
  }
}
